/configure
/config/*
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/*
.libs
config.h
stamp-h1
*.Plo
*.Po
/libtool
/config.status
/src/fts-node
/indexing-log.20101017-033207.txt
/indexing-log.20101017-033301.txt
/src/config.h.in
/test_query_34_2.txt
/test_query_cloko001.txt
/alive_nodes.list
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/src/fts-search
/src/termdump
